html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  font-family: var(--ff-primary);
  font-size: var(--m);
  hyphens: auto;
  line-height: var(--lh-normal);
  color: var(--color-white);
}

main {
  margin-left: var(--xxl);
  margin-right: var(--xxl);
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 0;
  padding-left: var(--xxl);
  padding-right: var(--xxl);

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-left: 53px;
    }
  }

  a {
    font-size: var(--fs-m);
    font-style: normal;
  }
}

a {
  color: var(--color-black);
  font-weight: var(--fw-medium);
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  padding-top: var(--m);
  margin-bottom: var(--m);
  font-weight: var(--fw-bold);
  hyphens: none;
}

h1 {
  padding: 0;
  margin-bottom: 0;
  font-family: var(--ff-logo);
  font-weight: var(--fw-logo);
  font-size: var(--fs-logo);
}

h2 {
  font-size: var(--l);
}

p {
  font-size: var(--fs-s);
  margin-bottom: var(--s);
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  padding: var(--xl) var(--xxl);
  background-color: var(--color-white);
  width: 100%;
  box-sizing: border-box;
  color: var(--color-black);

  p {
      margin: 0;
  }
}
